:root {
    box-sizing: border-box;
    --light-gray: #e9e9e9;
    --dark-gray: #d7d6d7;
    --darker-grey: #5f5c60;
    --logo-height: 771.4px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

label, button, input, select, textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

input, textarea, select, button {
    width : 200px;
    padding: 0;
    margin: 0;
}
  
label {
    font-size: small;
}


h3 {
    padding: 0;
    margin: 20px 80px 10px 80px;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
}

.img-container {
    position: relative;
}

.img-container > img {
    width: 32rem;
}

img[src$=".jpg"] {
    height: 100%;
}

.img-container > img + img {
    position: absolute;
    left: 0;
    bottom: 66.5%;
}

.top {
    height: calc(var(--logo-height) * 0.4 - 51.523px);
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 398px;
}

.top > p {
    padding-top: 20px;
    margin: 0 80px 0 80px;
    font-size: 1.3rem;
}

.mid {
    min-height: calc(var(--logo-height) * 0.3);
    box-shadow: 0px 10px 5px 5px var(--dark-gray);
    display: flex;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px 80px 10px 80px;
}

.bot {
    min-height: calc(var(--logo-height) * 0.3);
    background-color: var(--light-gray);
    margin-top: 5px;
}

.bot a {
    color: var(--darker-grey);
    font-weight: 700;
}

.bot a:hover {
    text-decoration: underline;
}

.bot button:hover {
    background-color: var(--dark-gray);
}

.bot button,
.bot p {
    margin: 20px 80px 0 80px;
}

.bot button {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
}




.footer {
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 15px;
    margin-top: auto;
    background-color: var(--dark-gray);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 700;
}

.footer > p {
    margin: 5px 0 5px 0;
}